* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100vw;
  
}
/*ESTO ES LA BARRA DE NAVEGACION*/
.navbar {
  
  margin: 0;
  padding: 10px;
  background-color: #126491;
  display: flex;
  justify-content: flex-start;
}

.navbar:hover {
  
  margin: 0;
  padding: 10px;
  background-color: #3689ad;
  display: flex;
  justify-content: flex-start;
}

.navbar ul li {
  list-style: none;
  display: inline-flex;
  justify-content: flex-start;
}

.navbar ul li a {
  padding: 5px;
  text-decoration: none;
  color: #a7c6d7;
  position: relative;
}
.navbar ul li a:hover {
  padding: 5px;
  text-decoration: none;
  color: white;
  position: relative;
}

/*ESTO ES LA IMAGEN PRINCIPAL*/

.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;  
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  object-fit: cover; 
  scroll-snap-align: center;
}

/*ICONOS*/
.iconos{
  display: flex;  
  justify-content: space-around;      
  margin-left: 100px;
  margin-bottom: 30px;   
  cursor: pointer;  
}

.iconos p{    
  display: flex;  
  justify-content: space-around;  
  color: #3689ad;
  font-family: "Open Sans", sans-serif;  
  width: 70%;
  text-align: justify;  
}

.iconos h3{  
  display: flex;  
  justify-content: space-around; 
  margin-bottom: 10px;
  margin-left: -25%;
}

.ic{    
  display: flex;  
  justify-content: space-around;
  margin-left: 25%;
  width: 120px;
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
  transition: all 500ms ease-out; 
}

.ic:hover{ 
  display: flex;  
  justify-content: space-around;   
  width: 150px;
  height: 230px;
}



/*ESTO ES LA IMAGEN DE ATENCION SANITARIA*/

.doctora {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.doctora:hover {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 8px 4px #a7c6d7;
}

/*TEXTO DE ATENCION SANITARIA*/

.container {
  display: flex;
  text-align: center;
}

.container h4 {
  width: 100%;
  color: #126491;
  font-size: 30px;
  margin-top: 150px;
}

.container h2 {
  width: 100%;
  color: #3689ad;
  font-size: 60px;
  margin-top: 30px;
}

.txt {
  text-align: justify;
  width: 90%;
  color: #3689ad;
  margin-left: 50px;
  
  margin-top: 30px;
  font-size: 17px;
  margin-bottom: 30px;
}

.container b {
  width: 100%;
  color: #126491;
  font-size: 20px;
  margin-top: 30px;
}

/*IMAGEN Y TEXTO DE CONSULTA EN LINEA*/
 .consulta-online{
  display: flex;
  text-align: left;
  background-image: url(img/turno.png);
  background-size: cover; 
  height: 600px;
 }


.h4-turno {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 25px;
  width: 100%;
  color: #126491;
  font-size: 50px;
}
.txtTurno {
  text-align: justify;
  margin-left: 40px;  
  color: white;
  margin-top: 30px;
  font-size: 25px;  
  margin-bottom: 100px;
  width: 50%;
}
.txtTurno:hover {
  text-align: justify;
  margin-left: 40px;  
  color: #126491;
  margin-top: 30px;
  font-size: 25px;
  text-align: left;
  margin-bottom: 100px;
  width: 50%;
}
.p-turno {
  
  color: #126491;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 25px;
}



/*TARJETA DE DOCTORES*/

.tarjeta {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.card {
  
  padding: 15px;
  margin-top: 50px;
  width: 250px;
  height: 300px;
  border: 1px solid #d0d3d4;
  box-shadow: 2px 2px 8px 4px #d0d3d4;
  border-radius: 15px;
  font-family: sans-serif;
}
.card-text{
  color: #126491;
  margin-bottom: 20px;
}

.card-img-top {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  width: 50%;
}

.card-body {
  padding: 10px;
}

img {
  box-align: center;
}

.reserva {
  text-decoration: none;
  padding: 5px 10px;
   width: 100px;
  height: 30px;
  background-color: #a7c6d7;
  color: #126491;
  border-radius: 15px;
  position: relative;
}

.reserva:hover {
  background-color: #126491;
  color: #a7c6d7;
  box-shadow: 2px 2px 8px 4px #a7c6d7;
  transition: all 0.2s ease;
}

/*FORMULARIO DE REGISTRO*/

.registro {
  width: 96vw;
  display: flex;
  justify-content: center;
  background: #126491;
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  
  font-family: "Open Sans", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #a7c6d7;
}

.registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}

.registro p {
  margin-top: 20px;
  color: #d0d3d4;
}

.control {
  width: 90%;
  align-items: center;
  background: #d0d3d4;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a7c6d7;
  font-size: 16px;
}

textarea {
  width: 91%;
  height: 100px;
  background: white;
  margin-bottom: 10px;
  color: #d0d3d4;
}

/*BOTON DE ENVIAR*/

.enviar {
  position: center;
  width: 450px;
  background: #a7c6d7;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #126491;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: 1px 1px 1px #d0d3d4;
}

.enviar:hover {
  background-color: #a7c6d7;
  color: #126491;
  box-shadow: 2px 2px 8px 4px #a7c6d7;
  transition: all 0.2s ease;
}

/*BOTON PARA VER EL TURNO*/

.verTurno {
  position: center;
  width: 450px;
  background: #a7c6d7;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #126491;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: 1px 1px 1px #d0d3d4;
}

.verTurno:hover {
  background-color: #a7c6d7;
  color: #126491;
  box-shadow: 2px 2px 8px 4px #a7c6d7;
  transition: all 0.2s ease;
}

/*TEXTO DE TURNOS*/

h3 {
  text-align: center;
  color: #126491;
  padding-top: 50px;
}

.textoTurno {
  color: #3689ad;
  padding-top: 10px;
}

/*PERSONAL DE CLINICA ACTUAL Y PREPAGA*/

.noticias{
  
  display: flex;
  justify-content: right;
  background-image: url(img/clinico.png);
  background-size: cover;
  height: 500px;
  margin-top: 50px;
}
.noticias p{
  margin-right: 30px;
  margin-top: 60px;
}
.personal-clinica {
  color: #126491;
  text-align: right;
  font-size: 30px;
}
.noticias2{  
  display: flex;
  justify-content: right;
  background-image: url(img/prepaga.png);
  background-size: cover;
  height: 500px;  
  margin-top: 60px;
  flex-direction: column;
  text-align: end;
  color:#a7c6d7;
}

.noticias2 h3{
  color: #3689ad;
  font-size: 30px;
  text-align: end;
  margin-right: 30px;
  margin-top: 50px;
}

.noticias2 p{
  font-size: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

/*PIE DE PAGINA*/

footer {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-image: url(img/pie.png);
  background-size: cover;  
  height: 300px;
  color: #2e6583;
   
}

footer h3{
  margin-bottom: 10px;
}

footer p{
  margin-bottom: 5px;
}

footer img{
  display: flex;
  justify-content: space-around;
  margin-left: 40%;
  margin-top: 30px;
  width: 70px;
  height: 70px;
}


